body{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    box-sizing: border-box;
}

/* Inicio de sesión y registro de usuarios*/

.log-in-form__wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.log-in-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 5px 0px #333;
    border-radius: 7px;
    gap: 20px;
    align-items: start;
    justify-content: center;
}

.log-in-inputs__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin-left: 15px;
}

.log-in-inputs__container input{
    font-size: 1.4rem;
    border-radius: 4px;
    width: 100%;
    height: 40px;
}

.log-in-inputs__container label{
    font-size: 1.4rem;
}

.log-in-inputs__container button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 1.3rem;
}

.log-in-inputs__container a {
    margin-left: auto;
    margin-right: auto;
}

.regist-form{
    height: 700px !important;
}

.btn-login {
    background-color: #e83838 !important;
    border-color: #e83838 !important;
}

.btn-login:active {
    background-color: #e83838 !important;
    border-color: #e83838 !important;
}

.btn-login:hover {
    background-color: #e83838ba !important;
    border-color: #e83838 !important;
}

/*NAVBAR*/

.header-section{
    width: 100vw;
}

header {
    background-color: transparent !important;
    width: 100%;
}
.nav-pages{
    background: url('../images/banner.png');
    background-position: center;
    background-size: cover;
    background-color: transparent !important;
    z-index: 10;

}
.navbar {
    background-color: transparent !important;
    z-index: 10;
}

.opac-background-nav__container{
    position: absolute;
    width: 100%;
    background-color: #1c1a1a;
    opacity: 0.7;
}

.navbar-toggler{
    color: #fff !important;
}

.navbar-toggler-icon{
    color: #fff;
}

.nav-link {
    color: #fff !important;
}

.nav-options__container{
    display: flex !important;
    justify-content: right !important;
    align-items: center;
    width: 100%;
}

.nav-options__list{
    margin-right: 100px;
    gap: 20px !important;
}

#user-settings{
    display: none;
}

#log-out{
    display: none;
}

.user-settings{
    display: none;
}

.user__container{
    width: 30px;
    height: 30px;
    background-color: #e83838;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.user-dropdown{
    left: -60px !important;
}

.dropdown-divider__nav-item{
    display: none;
}

.shopping-cart a i, .theme a i, .user-icon a i{
    font-size: 1.6rem !important;
}

@media (max-width: 991px) {
    .nav-options__container{
        display: flex !important;
        justify-content: left !important;
    }

    .nav-options__list{
        gap: 0px !important;
    }

    .shopping-cart a i, .theme a i, .user-icon a i{
        font-size: 1rem !important;
    }

    .user-dropdown{
        left: 0px !important;
    }
}

/* LANDING PAGE */

.cta__section{
    width: 100%;
}

.cta__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.cta__container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.cta-img__container{
    background-color: #e83838;
    height: 550px;
    margin-top: 50px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 2px #333;
}

.cta-img__container img{
    width: 600px;
    height: 800px;
    border-radius: 10px;
}

h1{
    font-size: 3.5rem !important;
    font-family: "Jersey 15", sans-serif;
}

.cta__container h3{
    font-family: "Jersey 15", sans-serif;
    color: #e83838;
}

.btn-cta {
    background-color: #e83838 !important;
    border-color: #e83838 !important;
    font-size: 1.4rem !important;
    font-family: "Jersey 15", sans-serif !important;
}

.btn-cta:active {
    background-color: #e83838 !important;
    border-color: #e83838 !important;
}

.btn-cta:hover {
    background-color: #e83838ba !important;
    border-color: #e83838 !important;
}

.section-separator__landing{
    margin-top: 300px;
    border: 5px solid #333;
}


.landing-main__section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.landing__h2{
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.landing__h2 h2{
    font-size: 2.7rem;
    font-weight: 400;
    font-family: "Jersey 15", sans-serif;
    color: #e83838;
}

.landing-info__container:first-child{
    margin-top: 70px;
}

.landing-info__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;

}

.p__container{
    width: 600px;
    font-size: 1.3rem;
}

.p__container h3{
    font-size: 2rem;
    font-weight: 400;
    font-family: "Jersey 15", sans-serif;
}

.p__container p{
    text-wrap: pretty;
}

.landing-img__container{
    width: 400px;
    height: 400px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px 0px #333;
}

.landing-info__container:first-child .landing-img__container{
    background: url('../images/Games/nintendoGif.gif');
    background-size: cover;
    background-position: center;

}

.landing-info__container:nth-child(2) .landing-img__container{
    background: url('../images/17-genesis-cartridges.webp');
    background-size: cover;
    background-position: center;

}

.landing-info__container:last-child .landing-img__container{
    background: url('../images/ps1-classic.jpg');
    background-size: cover;
    background-position: center;

}

.landing-info__container:last-child{
    margin-bottom: 30px;
}

/* Footer */

footer{
    width: 100vw;
    background-color: #575353;
}

.footer-content__wrapper{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-content__container h3{
    color: #fff;
}

.footer-list{
    list-style: none;
    font-size: 1.3rem;
}

.footer-list li a{
    text-decoration: none;
    color: #fff;
}

.copyright__container{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Nintendo */


/* transición de desvanecido */
html {
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* transición al hacer clic */
a {
    transition: opacity 0.2s;
}

a:hover {
    opacity: 0.8;
}