<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
  <title>Inicio</title>
</head>

<body>


  <section class="header-section">
      <header>
        <nav class="navbar navbar-expand-lg nav-pages">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
              <img src="../static/images/logo.svg" alt="Pixelated paradise">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="nintendo.html">
                    Nintendo
                  </a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    Sega
                  </a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    Sony
                  </a>
              </ul>
  
              <div class="nav-options__container">
                <ul class="navbar-nav nav-options__list">
                  
                  <li class="nav-item shopping-cart">
                    <a class="nav-link" href="#">
                      <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                  </li>
    
                  <li class="nav-item theme">
                    <a class="nav-link" href="#">
                      <i class="fa-solid fa-moon"></i>
                    </a>
                  </li>
    
                  <li class="nav-item dropdown user-icon">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="user-link">
                      <i class="fa-solid fa-user" id="user-icon"></i>
                      <div class="user__container" id="user__container"></div>
                    </a>
                    <ul class="dropdown-menu user-dropdown">
                      <li><a class="dropdown-item" href="login.html" id="log-in">Log in</a></li>
                      <li><a class="dropdown-item" href="#" id="user-settings">Settings</a></li>
                      <li class="dropdown-divider__nav-item" id="drop-divider">
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" onclick="log_out()" id="log-out">Log out</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>
  </section>

  <section class="cta__section">
    <div class="cta__wrapper">
      <div class="cta__container">
        <h1>Relive your best memories, <br>one game at a time.</h1>
        <h3>Your childhood called... it wants to play with you again!</h3>
        <p>Register to our website now and buy two games for the price of one!!!</p>
        <button type="button" class="btn btn-primary btn-cta">Start the grind!!</button>
      </div>
  
      <div class="cta-img__container">
        <img src="..//static/images/Mario.png" alt="Super mario">
      </div>
    </div>
  </section>

  <hr class="section-separator__landing">

  <div class="landing__h2">
    <h2>Yesterday's games, the same old excitement. Get your favorites today!</h2>
  </div>

      <section class="landing-main__section">
        <div class="landing-info__container">
          <div class="p__container">
            <h3>Retro gaminglives here. Plug into the past!</h3>
            <p>Step into a time machine of pixels and nostalgia with our handpicked collection of authentic retro games and consoles. Whether you're hunting for a pristine NES with Mega Man 2, a Game Boy loaded with Pokémon Red, or a rare Neo Geo AES cartridge, we’ve got the classics that defined gaming history.</p>
          </div>
          <div class="landing-img__container">
            <img src="" alt="">
          </div>
        </div>

        <div class="landing-info__container">
          <div class="landing-img__container">
            <img src="" alt="">
          </div>

          <div class="p__container">
            <h3>Do you miss 8-bit graphics? We do too! That's why we have them here.</h3>
            <p>From the iconic Super Mario Bros. on NES to Sonic The Hedgehog on Sega Genesis, we offer authentic, tested, and carefully preserved classics—so you can experience them just like you remember. Whether you're a collector or a nostalgic gamer, every purchase comes with a blast from the past. Game on, the retro way!</p>
          </div>

        </div>

        <div class="landing-info__container">
          <div class="p__container">
            <h3>Relive your favorites games, on your favorites consoles</h3>
            <p>Whether you're chasing high scores in Pac-Man, saving Hyrule in Zelda, or racing in Mario Kart, we’ve got the classic games and consoles to bring back those unforgettable memories. Plug in, power up, and play like it’s 1990!</p>
          </div>

          <div class="landing-img__container">
            <img src="" alt="">
          </div>
        </div>
      </section>

  <section class="footer-section">
    <footer class="bg-dark text-light pt-5">
      <div class="container px-5">
          <div class="row">
              <div class="col-6 col-lg-4">
                  <img src="../static/images/logo.svg" alt="">
                  <p class="pt-2">321, Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <p class="mb-2">0987654321</p>
                  <p>1234567890</p>
              </div>
              <div class="col">
                  <h4>About us</h4>
                  <ul class="list-unstyled pt-2">
                      <li class="py-1">About</li>
                      <li class="py-1">Contact</li>
                      <li class="py-1">Jobs</li>
                  </ul>
              </div>
              <div class="col">
                  <h4>More</h4>
                  <ul class="list-unstyled pt-2">
                      <li class="py-1">Github</li>
                      <li class="py-1">FAQs</li>
                      <li class="py-1">Your orders</li>
                  </ul>
              </div>
              <div class="col-6 col-lg-3 text-lg-end">
                  <h4>Social Media Links</h4>
                  <div class="social-media pt-2">
                      <a href="#" class="text-light fs-2 me-3"><i class="fa-brands fa-facebook"></i></a>
                      <a href="#" class="text-light fs-2 me-3"><i class="fa-brands fa-x-twitter"></i></a>
                      <a href="#" class="text-light fs-2 me-3"><i class="fa-brands fa-instagram"></i></a>
                      <a href="#" class="text-light fs-2"><i class="bi bi-linkedin"></i></a>
                  </div>
              </div>
          </div>
          <hr>
          <div class="d-sm-flex justify-content-between py-1">
              <p>2025 © Pixelated Paradise. All Rights Reserved. </p>
              <p>
                  <a href="#" class="text-light text-decoration-none pe-4">Terms of use</a>
                  <a href="#" class="text-light text-decoration-none"> Privacy policy</a>
              </p>
          </div>
      </div>
  </footer>
  </section>


  <script src="../static/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"></script>
</body>

</html>